.mainContent{
	width: 1152px;
	min-height: 100px;
	margin: 0 auto;
}
.content{
	width: 1002px;
	min-height: 100px;
	background: #fff;
	border: 1px #f0f0f0 solid;
	margin: 0 auto;
	padding: 100px;
}
.content .content_inner{
	width: 300px;
	height: 245px;
	margin: 0 auto;
	position:relative;
}
.content .content_inner h3{
	font-size: 20px;
	font-weight: normal;
	margin-bottom: 30px;
}
.content .content_inner .uname{
	width:300px;
	height: 40px;
	border: 1px #ccc solid;
	padding: 8px 10px;
	line-height: 24px;
	margin-bottom: 30px;
	
}
.content .content_inner #uname{
	border: none;
	height: 24px;
	margin-bottom: 30px;
	outline: none;
}
.content .content_inner .yzbox{
	width: 300px;
	height: 40px;
	overflow: hidden;
	margin-bottom: 30px;
}
.content .content_inner .yz{
	width:200px;
	height: 40px;
	border: 1px #ccc solid;
	padding: 8px 10px;
	line-height: 24px;
	float: left;
}
.content .content_inner .yz .yanzheng{
	width: 100px;
	border: none;
	height: 24px;
	outline: none;
}
.content .content_inner .yzbox #yz {
	width: 70px;
	height: 34px;
	background: #D10048;
	line-height: 34px;
	float:left;
	margin: 0 8px;
	margin-top: 2px;
	cursor: pointer;
}
.content .content_inner #next{
	width: 300px;
	height: 40px;
	color: #fff;
	background: #D10048;
	text-align: center;
	line-height: 40px;
	font-size: 20px;
	border-radius: 5px;
}
/*mainContent  over*/