.mainContent{
	width: 1152px;
	min-height: 662px;
	margin: 0 auto;
}
.content{
	width: 1002px;
	min-height: 662px;
	background: #fff;
	border: 1px #f0f0f0 solid;
	margin: 0 auto;
	overflow: hidden;
}
.cont_left{
	width: 190px;
	height: 610px;
	padding: 20px 0;
	float: left;
}
.cont_left .u1 li {
	width: 190px;
	height: 26px;
	text-indent: 50px;
	font-size: 15px;
	font-family: "微软雅黑";
	margin: 10px 0;
	cursor: pointer;
}
.cont_left .u1 .nav{
	background:url(../user_account/images/ac_left_nav.jpg) 35px 3px no-repeat;
}
.cont_left .u1 .mylist{
	background:url(../user_account/images/subnav.jpg) 120px 3px no-repeat ;
}
.cont_left .u1 .hidden_list{
	width: 190px;
	height: 54px;
	text-indent:60px;
	color:#AAAAAA;
	font-size: 13px;
	display: none;
}
.cont_left .u1 .hidden_list p{
	height: 26px;
	line-height: 26px;
}

.cont_right{
	width: 750px;
	height: 660px;
	float: left;
	padding: 30px 0 150px 50px;
	border-left: #ccc 1px solid;
}
.cont_right h2{
	height: 38px;
	padding-bottom: 5px;
	border-bottom: 1px #ccc dotted;
}
.cont_right .right_info{
	width: 600px;
	min-height: 358px;
	margin: 42px auto;
}
.cont_right .right_info form p{
	width: 600px;
	height: 35px;
	margin-bottom: 20px;
	font-size: 14px;
	color: #888;
	padding: 10px;
	font-family:"微软雅黑";
}
.cont_right .right_info form p span{
	margin-left: 10px;
	color: #BD2C00;
}
input[type=radio]{
	margin:0 5px;
}
.cont_right .right_info form p:first-child{
	height: 68px;
	
	line-height: 24px;
	margin-bottom: 35px;
}
/*mainContent  over*/